body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  width: 40%;
  margin-top: 150px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoInput {
  border: none;
  width: 100%;
  height: 30px;
}

.todoInput:focus {
  outline: none;
}

ul {
  padding: 0;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
}

.clearAll {
  background-color: whitesmoke;
  height: 70px;
  margin: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearAll a {
  text-decoration: none;
  color: black;
}
